<section class="content">
  <div class="content-block">
    <h4 class="mt-4">
      <i class="bi bi-person-vcard-fill h3"></i> Generate DELIVERY CHALLAN
    </h4>

    <div id="purchase-order" class="challan-container card my-2">
      <section class="gstin my-0">
        <h2>DELIVERY CHALLAN</h2>
      </section>
      <hr class="my-1" />

      <section class="order-details">
        <div *ngIf="mergedProducts && mergedProducts.length > 0">
          <p-table [value]="mergedProducts" class="bordered-table">
            <ng-template pTemplate="header">
              <tr>
                <th>Design No</th>
                <th>Colour</th>
                <th *ngFor="let size of sizeHeaders">
                  {{ size }} <br />
                  <span *ngIf="!isSizeAvailable(mergedProducts, size)">N/A</span>
                </th>
                <th>Price</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-row>
              <tr>
                <td>{{ row.designNumber }}</td>
                <td>{{ row.colourName }}</td>

                <td *ngFor="let size of sizeHeaders">
                  <div>
                    <table>
                      <tr>
                        <th>Ordered</th>
                        <th>Available</th>
                      </tr>
                      <tr>
                        <td>
                          <div *ngIf="getOrderedQuantity(row.designNumber, row.colourName, size) !== null; else showNA">
                            <span style="color: gray;">
                              {{ getOrderedQuantity(row.designNumber, row.colourName, size) }}
                            </span>
                          </div>
                        </td>
                        <td>
                          <input 
                            *ngIf="row.quantities[size] !== undefined"
                            type="number" 
                            [(ngModel)]="row.quantities[size]"
                            (ngModelChange)="onQuantityChange(row, size)"
                            [min]="0"
                            style="width: 60px; text-align: center;"
                            [disabled]="row.quantities[size] <= 0"
                          />
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>

                <td>{{ calculateTotalPrice(row) | currency: 'INR' }}</td>
              </tr>
            </ng-template>

            <!-- Footer Row for Subtotal, GST, and Grand Total -->
            <ng-template pTemplate="footer">
              <tr [ngStyle]="{'background-color': 'white'}">
                <td [attr.colspan]="2 + sizeHeaders.length" style="border: none;"></td>
                <td style="text-align: right; font-weight: bold;">Subtotal:</td>
                <td>{{ Totalsub | currency: 'INR' }}</td>
              </tr>
              <tr [ngStyle]="{'background-color': 'white'}">
                <td [attr.colspan]="2 + sizeHeaders.length" style="border: none;"></td>
                <td style="text-align: right; font-weight: bold;">GST (18%):</td>
                <td>{{ gst | currency: 'INR' }}</td>
              </tr>
              <tr [ngStyle]="{'background-color': 'white'}">
                <td [attr.colspan]="2 + sizeHeaders.length" style="border: none;"></td>
                <td style="text-align: right; font-weight: bold;">Grand Total:</td>
                <td>{{ totalGrandTotal | currency: 'INR' }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </section>

      <div class="row">
        <div class="col-12">
          <div class="text-center my-3">
            <!-- Button hidden when status is 'shipped' -->
            <button 
              class="btn btn-success ms-auto" 
              (click)="addpo()" 
              *ngIf="purchaseOrder?.status && purchaseOrder.status !== 'shipped'">
              Generate Purchase Order
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Template for "N/A" display -->
<ng-template #showNA>
  <span>N/A</span>
</ng-template>
