.product-details {
  padding: 20px;
}

.product-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product-details-content {
  display: flex;
}

.product-images {
  flex: 1;
  margin-right: 20px;
}

.main-image img {
  height: 495px;
  width: 380px;
}

.thumbnail-images {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail {
  cursor: pointer;
}

.thumbnail img {
  width: 55px;
  height: 75px;
  object-fit: cover;
}

.thumbnail.active img {
  border: 2px solid #000;
}

.product-info {
  flex: 2;
}

.product-info-section {
  margin-bottom: 20px;
}

.product-info-section h3 {
  margin-bottom: 5px;
}

.product-info-section p {
  margin: 5px 0;
}

.back-button {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.video-thumbnail {
  position: relative;
}

.video-thumbnail i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  opacity: 0.8;
}

.colour-info {
  display: flex;
  align-items: center;
}

.colour-hex {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-left: 10px;
  border: 1px solid #000;
}

.colour-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-left: 10px;
}