<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-8 px-0 d-none d-sm-block">
        <div class="left-img" style="background-image: url(assets/images/auth-image/img1.jpg);">
        </div>
      </div>
      <div class="col-sm-4 auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
            <p class="auth-signup-text text-muted  pb-0">Welcome to
              <!-- <a routerLink="/authentication/signup"
                class="sign-up-link">Click here</a> -->
            </p>
            <h2 class="welcome-msg-log pb-5"> Garment Trade Hub</h2>
            
            <!-- <h2 class="login-title">Sign in</h2> -->
            <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                  <label class="lable-input" for="id">User Id</label>
                  <input type="text" id="id" formControlName="email" class="form-control">
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                  <label class="lable-input" for="password">Password</label>
                  <input type="password" id="password" formControlName="password" class="form-control">
                </div>
              </div> -->
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                  <label class="lable-input" for="password">Password</label>
                  <div class="d-flex form-control">
                    <input [type]="hide ? 'password' : 'text'" class="form-control shadow-none border-0 p-0"
                        style="height: 30px !important;" formControlName="password">
                    <mat-icon class="material-icons-outlined pwd-toggle form-control border-0 ps-1 pb-3"
                        style="height: 30px !important;" matSuffix (click)="hide = !hide">
                        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                  <label class="lable-input" for="password">Password</label>
                  <div class="input-group">
                    <input [type]="hide ? 'password' : 'text'" id="password" formControlName="password" class="form-control">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                        <mat-icon>{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div> -->
              
              @if (error) {
              <div class="alert alert-danger mt-3 mb-0">{{error}}</div>
              }

              <div class="row">
                <div class="col-12 text-center">
                  <button type="submit" class="btn login-btn">Log In</button>
                </div>

                <button type="button" class="btn col-12 mt-2">Forgot your password?</button>
              </div>

            </form>

            <div class="navigation-link-log">
              <div type="button" routerLink="/authentication/signup">Register as Manufacture</div>
              <!-- <div type="button" routerLink="/authentication/">Register as Distributer/Retailer</div> -->
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>