<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/bg-03.png);">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg mb-5" *ngIf="!mobileVerified">Reset Password</h2>
          <h2 class="welcome-msg mb-5" *ngIf="mobileVerified">Set New Password</h2>

          <form class="validate-form" *ngIf="!mobileVerified" [formGroup]="mobForm" (ngSubmit)="onSubmitMobForm()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <p class="header">Enter your registered Username</p>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName="username" required>
                  <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>
                  <mat-error *ngIf="mobForm.get('username')?.hasError('required')">Please enter a mobile number</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn mt-3">
              <button mat-raised-button color="primary" class="auth-form-btn" [disabled]="!mobForm.valid" type="submit">
                Get OTP
              </button>
            </div>
          </form>

          <form class="validate-form" *ngIf="mobileVerified" [formGroup]="passwordForm" (ngSubmit)="onSubmitPasswordForm()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>OTP</mat-label>
                  <input matInput type="number" formControlName="otp" required>
                  <mat-error *ngIf="passwordForm.get('otp')?.hasError('required')">OTP is required</mat-error>
                  <mat-error *ngIf="passwordForm.get('otp')?.hasError('pattern')">Please enter a valid OTP</mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword">
                  <mat-icon class="material-icons-outlined pwd-toggle p-3" matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                  <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')">Password is required</mat-error>
                  <mat-error *ngIf="!passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.hasError('minlength')">Password must be at least 8 characters long</mat-error>
                  <mat-error *ngIf="!passwordForm.get('newPassword')?.hasError('required') && !passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.hasError('strongPassword')">Password must contain at least one number, one uppercase letter, and one lowercase letter</mat-error>
                </mat-form-field>
              </div>
              
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput [type]="chide ? 'password' : 'text'" formControlName="password">
                      <mat-icon class="material-icons-outlined pwd-toggle p-3" matSuffix (click)="chide = !chide">
                        {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">Confirm Password is required</mat-error>
                  <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('mustMatch')">Passwords must match</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn mt-3">
              <button mat-raised-button color="primary" class="auth-form-btn" [disabled]="!passwordForm.valid" type="submit">
                Reset Password
              </button>
            </div>
          </form>

          <div class="w-full p-t-25 text-center">
            <a routerLink="/authentication/signin" class="txt1">Login?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
