.registration-form {
    .lable-input {
        margin-top: 15px;

        span {
            color: red;
        }
    }
}

.submit-btn {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    margin: 2rem !important;
    background-color: #f0ad4e;
    color: #fff;
}