<section class="content">
    <div class="content-block">
        <h4 class="mt-4"><i class="bi bi-person-vcard-fill h3"></i> Category</h4>
        <div class="card p-3">

            <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Wholesaler
                        Category</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                        type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Retailer
                        Category</button>
                </li>
            </ul> -->

            <mat-tab-group>
                <mat-tab label="Wholesaler Category">
                    <h5 class="mt-4">Add Wholesaler Category</h5>
                    <hr class="mt-0">
                    <form [formGroup]="categoryForm1" (ngSubmit)="onSubmit('wholesaler')">
                        <div class="row">
                            <div class="w-50">
                                <label for="category">Category Name :</label>
                                <input type="text" id="category" formControlName="category" class="form-control"
                                    placeholder="Enter Category Name" />
                                <div *ngIf="categoryForm1.get('category')?.touched && categoryForm1.get('category')?.invalid"
                                    class="text-danger">
                                    Category is required.
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
                                <label for="productDiscount">Product Discount : <small>(in %)</small> </label>
                                <input type="text" id="productDiscount" formControlName="productDiscount"
                                    placeholder="Enter Product Discount in ( % )" class="form-control" />
                                <div *ngIf="categoryForm1.get('productDiscount')?.touched && categoryForm1.get('productDiscount')?.invalid"
                                    class="text-danger">
                                    Product Discount is required.
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
                                <label for="shippingDiscount">Shipping Discount : <small>(in %)</small> </label>
                                <input type="text" id="shippingDiscount" formControlName="shippingDiscount"
                                    placeholder="Enter Shipping Discount in ( % )" class="form-control" />
                                <div *ngIf="categoryForm1.get('shippingDiscount')?.touched && categoryForm1.get('shippingDiscount')?.invalid"
                                    class="text-danger">
                                    Shipping Discount is required.
                                </div>
                            </div>
                        </div>
                        <div class="row w-50">
                            <div class="form-group text-center mt-3">
                                <button type="submit" class="btn submit-btn" [disabled]="categoryForm1.invalid">
                                    {{ formType }}
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="card p-2">
                        <h5 class="mt-2">Wholesaler Category List:</h5>
                        <hr class="mt-0">
                        <div class="p-grid p-fluid">
                            <div class="p-col-12 text-center">
                                <p-table [value]="wholesalerCategory">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Category</th>
                                            <th>Product Discount</th>
                                            <th>Shipping Discount</th>
                                            <th>Action</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-wholesalerCategory>
                                        <tr>
                                            <td class="text-center py-0">{{ wholesalerCategory.category }}</td>
                                            <td class="text-center py-0">{{ wholesalerCategory.productDiscount }}</td>
                                            <td class="text-center py-0">{{ wholesalerCategory.shippingDiscount }}</td>

                                            <td class="py-0">
                                                <div class="button-container text-center">
                                                    <button class="btn btn-icon p-2" pTooltip="Edit"
                                                        (click)="editForm(wholesalerCategory)" tooltipPosition="top">
                                                        <i class="bi bi-pencil-fill"></i>
                                                    </button>
                                                    <button class="btn btn-icon p-2"
                                                        (click)="deleteWholesalerCategory(wholesalerCategory)"
                                                        pTooltip="Delete" tooltipPosition="top">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                @if(wholesalerCategory && wholesalerCategory.length > 0){
                                <p-paginator (onPageChange)="onPageChangeWholesaler($event)" [first]="firstWholesaler"
                                    [rows]="rows" [totalRecords]="totalResultsWholesaler"
                                    [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
                                }@else {
                                <p class="text-center">No Wholesaler category found.</p>
                                }
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Retailer Category">
                    <h5 class="mt-4">Add Retailer Category</h5>
                    <hr class="mt-0">
                    <form [formGroup]="categoryForm2" (ngSubmit)="onSubmit('retailer')">
                        <div class="row">
                            <div class="w-50">
                                <label for="category">Category Name :</label>
                                <input type="text" id="category" formControlName="category" class="form-control"
                                    placeholder="Enter Category Name" />
                                <div *ngIf="categoryForm2.get('category')?.touched && categoryForm2.get('category')?.invalid"
                                    class="text-danger">
                                    Category is required.
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
                                <label for="productDiscount">Product Discount : <small>(in %)</small> </label>
                                <input type="text" id="productDiscount" formControlName="productDiscount"
                                    placeholder="Enter Product Discount in ( % )" class="form-control" />
                                <div *ngIf="categoryForm2.get('productDiscount')?.touched && categoryForm2.get('productDiscount')?.invalid"
                                    class="text-danger">
                                    Product Discount is required.
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
                                <label for="shippingDiscount">Shipping Discount : <small>(in %)</small> </label>
                                <input type="text" id="shippingDiscount" formControlName="shippingDiscount"
                                    placeholder="Enter Shipping Discount in ( % )" class="form-control" />
                                <div *ngIf="categoryForm2.get('shippingDiscount')?.touched && categoryForm2.get('shippingDiscount')?.invalid"
                                    class="text-danger">
                                    Shipping Discount is required.
                                </div>
                            </div>
                        </div>
                        <div class="row w-50">
                            <div class="form-group text-center mt-3">
                                <button type="submit" class="btn submit-btn" [disabled]="categoryForm2.invalid">
                                    {{ formType }}
                                </button>
                            </div>
                        </div>
                        
                    </form>

                    <div class="card p-2">
                        <h5 class="mt-2">Retailer Category List:</h5>
                        <hr class="mt-0">
                        <div class="p-grid p-fluid">
                            <div class="p-col-12 text-center">
                                <p-table [value]="retailerCategory">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Category</th>
                                            <th>Product Discount</th>
                                            <th>Shipping Discount</th>
                                            <th>Action</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-retailerCategory>
                                        <tr>
                                            <td class="text-center py-0">{{ retailerCategory.category }}</td>
                                            <td class="text-center py-0">{{ retailerCategory.productDiscount }}</td>
                                            <td class="text-center py-0">{{ retailerCategory.shippingDiscount }}</td>

                                            <td class="py-0">
                                                <div class="button-container text-center">
                                                    <button class="btn btn-icon p-2" pTooltip="Edit"
                                                        (click)="editForm(retailerCategory)" tooltipPosition="top">
                                                        <i class="bi bi-pencil-fill"></i>
                                                    </button>
                                                    <button class="btn btn-icon p-2"
                                                        (click)="deleteRetailerCategory(retailerCategory)"
                                                        pTooltip="Delete" tooltipPosition="top">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                @if(retailerCategory && retailerCategory.length > 0){
                                <p-paginator (onPageChange)="onPageChangeRetailer($event)" [first]="firstRetailer"
                                    [rows]="rows" [totalRecords]="totalResultsRetailer"
                                    [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
                                }@else {
                                <p>No retailer categories found.</p>
                                }
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <!-- <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                    tabindex="0">

                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                    tabindex="0">
                    
                </div>
            </div> -->
        </div>

    </div>
</section>
<!-- <section class="content">
    <div class="content-block">
        <h4 class="mt-4"><i class="bi bi-person-vcard-fill h3"></i> Category</h4>
        <div class="card px-4 py-2">
            <h5 class="">Add Category</h5>
            <hr class="mt-0">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Wholesaler
                        Category</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                        type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Retailer
                        Category</button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                    tabindex="0">
                    <form [formGroup]="categoryForm1" (ngSubmit)="onSubmit('wholesaler')">
                        <div class="w-75">
                            <label for="category">Category Name :</label>
                            <input type="text" id="category" formControlName="category" class="form-control" />
                            <div *ngIf="categoryForm1.get('category')?.touched && categoryForm1.get('category')?.invalid"
                                class="text-danger">
                                Category is required.
                            </div>
                        </div>
                        <div class="w-50">
                            <label for="discount">Discount :</label>
                            <input type="text" id="discount" formControlName="discount" class="form-control" />
                            <div *ngIf="categoryForm1.get('discount')?.touched && categoryForm1.get('discount')?.invalid"
                                class="text-danger">
                                Discount is required.
                            </div>
                        </div>
                        <div class="form-group text-center mt-3">
                            <button type="submit" class="btn submit-btn" [disabled]="categoryForm1.invalid">
                                {{ formType }}
                            </button>
                        </div>
                    </form>
                    
                    <div class="card p-2">
                        <h5 class="mt-2">Wholesaler Category List:</h5>
                        <hr>
                        <div class="p-grid p-fluid">
                            <div class="p-col-12 text-center">
                                <p-table [value]="wholesalerCategory">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Category</th>
                                            <th>Discount</th>
                                            <th>Action</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-wholesalerCategory>
                                        <tr>
                                            <td class="text-center py-0">{{ wholesalerCategory.category }}</td>
                                            <td class="text-center py-0">{{ wholesalerCategory.discount }}</td>
                                            
                                            <td class="py-0">
                                                <div class="button-container text-center">
                                                    <button class="btn btn-icon p-2" pTooltip="Edit"
                                                        (click)="editForm(wholesalerCategory)" tooltipPosition="top">
                                                        <i class="bi bi-pencil-fill"></i>
                                                    </button>
                                                    <button class="btn btn-icon p-2" (click)="deleteWholesalerCategory(wholesalerCategory)"
                                                        pTooltip="Delete" tooltipPosition="top">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                @if(wholesalerCategory && wholesalerCategory.length > 0){
                                <p-paginator
                                    (onPageChange)="onPageChangeWholesaler($event)" [first]="firstWholesaler" [rows]="rows"
                                    [totalRecords]="totalResultsWholesaler" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
                                }@else {
                                     <p class="text-center">No Wholesaler category found.</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                    tabindex="0">
                    <form [formGroup]="categoryForm2" (ngSubmit)="onSubmit('retailer')">
                        <div class="w-75">
                            <label for="category">Category Name :</label>
                            <input type="text" id="category" formControlName="category" class="form-control" />
                            <div *ngIf="categoryForm2.get('category')?.touched && categoryForm2.get('category')?.invalid"
                                class="text-danger">
                                Category is required.
                            </div>
                        </div>
                        <div class="w-50">
                            <label for="discount">Discount :</label>
                            <input type="text" id="discount" formControlName="discount" class="form-control" />
                            <div *ngIf="categoryForm2.get('discount')?.touched && categoryForm2.get('discount')?.invalid"
                                class="text-danger">
                                Discount is required.
                            </div>
                        </div>
                        <div class="form-group text-center mt-3">
                            <button type="submit" class="btn submit-btn" [disabled]="categoryForm2.invalid">
                                {{ formType }}
                            </button>
                        </div>
                    </form>
                    
                    <div class="card p-2">
                        <h5 class="mt-2">Retailer Category List:</h5>
                        <hr>
                        <div class="p-grid p-fluid">
                            <div class="p-col-12 text-center">
                                <p-table [value]="retailerCategory">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Category</th>
                                            <th>Discount</th>
                                            <th>Action</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-retailerCategory>
                                        <tr>
                                            <td class="text-center py-0">{{ retailerCategory.category }}</td>
                                            <td class="text-center py-0">{{ retailerCategory.discount }}</td>
                                            
                                            <td class="py-0">
                                                <div class="button-container text-center">
                                                    <button class="btn btn-icon p-2" pTooltip="Edit"
                                                        (click)="editForm(retailerCategory)" tooltipPosition="top">
                                                        <i class="bi bi-pencil-fill"></i>
                                                    </button>
                                                    <button class="btn btn-icon p-2" (click)="deleteRetailerCategory(retailerCategory)"
                                                        pTooltip="Delete" tooltipPosition="top">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                @if(retailerCategory && retailerCategory.length > 0){
                                <p-paginator
                                    (onPageChange)="onPageChangeRetailer($event)" [first]="firstRetailer" [rows]="rows"
                                    [totalRecords]="totalResultsRetailer" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
                                }@else {
                                     <p>No retailer categories found.</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section> -->