<div class="sub-navbar">
  <img height="230px" width="100%" src="../../../assets/images/pages/landingpage.png" alt="..img of boys">
  <div class="marquee-container my-0">
    <div class="marquee">
      <span>Program implementation to begin soon. Stay tuned for more updates! </span>
    </div>
  </div>
</div>

<section class="main-content">
  <div class="container">
    <div class="row ms-4 p-4">
      <div class="col-lg-8">
        <div class="Box-1 card p-3">
          <div class="row">
            <div class="col-md-6">
              <div class="card me-2 mb-0 w-100 flex-fill">
                <div class="card-body d-flex justify-content-between pointer" routerLink="/authentication/about">
                  <div class="d-flex align-items-center ">
                    <img src="https://udiseplus.gov.in/assets/img/l2.svg">
                    <h5 class="card-title mb-0 ms-2">About Pathadarshi Keonjhar</h5>
                  </div>
                  <!-- <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-primary ps-4 pe-4" (click)="navigateFunction()">LOGIN</button>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card  mb-0 w-100 flex-fill">
                <div class="card-body d-flex justify-content-between pointer" (click)="navigateFunction()">
                  <div class="d-flex align-items-center">
                    <img src="https://udiseplus.gov.in/assets/img/l2.svg">
                    <h5 class="card-title mb-0 ms-2">LOGIN</h5>
                  </div>
                  <!-- <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-primary ps-4 pe-4">LOGIN</button>
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-6">
              <div class="card mb-0 w-100 flex-fill">
                <div class="card-body" style="height: 250px;">
                  <div class="d-flex align-items-center">
                    <img src="https://udiseplus.gov.in/assets/img/l3.svg">
                    <h5 class="card-title mb-0 ms-2">Announcements</h5>
                  </div>
                  <div class="notice-board-container ms-4 mt-4 d-block">
                    <div class="notice-board lead">
                      <span>{{ currentNotice }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card w-100 flex-fill" style="height: 113px;">
                <div class="card-body d-flex justify-content-between pointer" routerLink="/authentication/aims">
                  <div class="d-flex align-items-center">
                    <img src="https://udiseplus.gov.in/assets/img/l2.svg">
                    <h5 class="card-title mb-0 ms-2">Aims & Objectives</h5>
                  </div>
                  <!-- <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-primary ps-4 pe-4" (click)="navigateFunction()">LOGIN</button>
                  </div> -->
                </div>
              </div>

              <div class="card w-100 flex-fill mt-2" style="height: 113px;">
                <div class="card-body d-flex justify-content-between pointer" >
                  <!-- <div class="d-flex align-items-center">
                    <img src="https://udiseplus.gov.in/assets/img/l2.svg">
                    <h5 class="card-title mb-0 ms-2">DMF Scholarships</h5>
                  </div>                   -->
                </div>
              </div>
            </div>
          </div>

          <div class="card d-flex mb-0">
            <div class="p-3 d-flex justify-content-between">
              <button class="btn btn-secondary">HELP</button>
              <button class="btn btn-secondary">CONTACT US</button>
              <button class="btn btn-secondary">FEEDBACK</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 align-self-baseline">
        <div class="Box-2 card border-none p-1">
          <div class="card mb-0 flex-fill">
            <div class="card-body justify-content-between">
              <img src="../../../assets/images/pages/cmDmf.png" width="345px" height="360px" alt="">
              <h4 class="mt-3 text-center">Shri Mohan Charan Majhi</h4>
              <p class="text-center"><b>Honorable Chief Minister</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
