
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple"></ngx-spinner>
<section class="content">
    <div class="content-block">
        <h4 class="mt-4"><i class="bi bi-person-vcard-fill h3"></i> Add New Product</h4>
        <div class="card p-4">

            <form [formGroup]="addProductForm">
                <!-- Step 1 -->
                <div *ngIf="currentStep === 1" [formGroup]="stepOne">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="designNumber">Design No.</label>
                            <input type="text" id="designNumber" formControlName="designNumber" class="form-control">
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="brand">Brand</label>
                            <input type="text" id="brand" formControlName="brand" class="form-control">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="productType">Product Type</label>
                            <select name="productType" id="productType" class="form-select"
                                formControlName="productType">
                                <option value="" disabled selected>Select</option>
                                <option [value]="type" *ngFor="let type of allProductType">{{type}}</option>
                            </select>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="gender">Gender</label>
                            <select name="gender" id="gender" class="form-select" formControlName="gender">
                                <option value="" disabled selected>Select</option>
                                <option [value]="gender" *ngFor="let gender of allGender">{{gender}}</option>
                            </select>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="clothing">Clothing</label>
                            <select name="clothing" id="clothing" class="form-select" formControlName="clothing">
                                <option value="" disabled selected>Select</option>
                                <option [value]="clothing.name" *ngFor="let clothing of allClothingType">
                                    {{clothing.name}}</option>
                            </select>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="subCategory">Sub Category</label>
                            <select name="subCategory" id="subCategory" class="form-select"
                                formControlName="subCategory">
                                <option value="" disabled selected>Select</option>
                                <option [value]="subCategory.subCategory" *ngFor="let subCategory of allSubCategory">
                                    {{subCategory.subCategory}}
                                </option>
                            </select>
                        </div>
                    </div>



                    <div class="row mt-2">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label class="label-input" for="productTitle">Product Title</label>
                            <input type="text" id="productTitle" formControlName="productTitle" class="form-control">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <label class="label-input" for="productDescription">Product Description</label>
                            <textarea name="productDescription" id="productDescription" class="form-control"
                                formControlName="productDescription"></textarea>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="material">Material</label>
                            <select name="material" id="material" class="form-select" formControlName="material">
                                <option value="" disabled selected>Select</option>
                                <option [value]="type.name" *ngFor="let type of allMaterialType">{{type.name}}</option>
                            </select>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label class="label-input" for="materialvariety">Material Variety of any</label>
                            <input type="text" id="materialvariety" formControlName="materialvariety"
                                class="form-control">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="fabricPattern">Fabric Pattern</label>
                            <select name="fabricPattern" id="fabricPattern" class="form-select"
                                formControlName="fabricPattern">
                                <option value="" disabled selected>Select</option>
                                <option [value]="type.name" *ngFor="let type of allFabricPattern">{{type.name}}</option>
                            </select>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="fitStyle">Occasion</label>
                            <p-multiSelect [options]="allOccasionType" placeholder="Select Occasion" optionLabel=""
                                formControlName="selectedOccasion"></p-multiSelect>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="lifeStyle">Life Style</label>
                            <p-multiSelect [options]="allLifeStyle" placeholder="Select Style" optionLabel=""
                                formControlName="selectedlifeStyle"></p-multiSelect>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="fitStyle">Fit Style</label>
                            <select name="fitStyle" id="fitStyle" class="form-select" formControlName="fitStyle">
                                <option value="" disabled selected>Select</option>
                                <option [value]="type.name" *ngFor="let type of allFitStyle">{{type.name}}</option>
                            </select>
                        </div>

                    </div>

                    <div class="row mt-2">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="neckStyle">Neck Style</label>
                            <select name="neckStyle" id="neckStyle" class="form-select" formControlName="neckStyle">
                                <option value="" disabled selected>Select</option>
                                <option [value]="type.name" *ngFor="let type of allNeckStyle">{{type.name}}</option>
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="closureType">Closure Type</label>
                            <select name="closureType" id="closureType" class="form-select"
                                formControlName="closureType">
                                <option value="" disabled selected>Select</option>
                                <option [value]="type.name" *ngFor="let type of allClosureType">{{type.name}}</option>

                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="pocketDescription">Pocket Description</label>
                            <select name="pocketDescription" id="pocketDescription" class="form-select"
                                formControlName="pocketDescription">
                                <option value="" disabled selected>Select</option>
                                <option [value]="type.name" *ngFor="let type of allPocketDiscription">{{type.name}}
                                </option>

                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="sleeveCuffStyle">Sleeve Cuff Style</label>
                            <select name="sleeveCuffStyle" id="sleeveCuffStyle" class="form-select"
                                formControlName="sleeveCuffStyle">
                                <option value="" disabled selected>Select</option>
                                <option [value]="type.name" *ngFor="let type of allSleeveCutStyle">{{type.name}}
                                </option>

                            </select>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="sleeveLength">Sleeve Length</label>
                            <select name="sleeveLength" id="sleeveLength" class="form-select"
                                formControlName="sleeveLength">
                                <option value="" disabled selected>Select</option>
                                <option [value]="type.name" *ngFor="let type of allSleeveLength">{{type.name}}</option>
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="specialFeature">Special Feature</label>
                            <p-multiSelect [options]="allSpecialFeature" placeholder="Select" optionLabel=""
                                formControlName="specialFeature"></p-multiSelect>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input" for="careInstructions">Care Instructions</label>
                            <select name="careInstructions" id="careInstructions" class="form-select"
                                formControlName="careInstructions">
                                <option value="" disabled selected>Select</option>
                                <option [value]="type.name" *ngFor="let type of allCareInstruction">{{type.name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="m-0 p-4 border mt-2 pt-2 rounded " style="background-color: aliceblue;">
                        <div class="row">
                            <h5 class="mb-2">Standard Size Set :</h5>
                            <div class="size-checkboxes">
                                <label class="me-4" *ngFor="let size of sizes">
                                    <input type="checkbox" [value]="size" (change)="onSizeChange($event, size)" />
                                    {{ size }}
                                </label>
                            </div>
                        </div>

                        <!-- Dynamically added size details fields -->
                        <div *ngIf="sizesArray.controls.length > 0" class="row mt-2" formArrayName="sizes">
                            <h5 class="mt-4">Size Chart :</h5>
                            <div class="col-12">
                                <div class="row mb-2">
                                    <div class="col-md-2">Standard Size</div>
                                    <div class="col-md-2">Brand Size</div>
                                    <div class="col-md-2">Chest Size</div>
                                    <div class="col-md-2">Shoulder Size</div>
                                    <div class="col-md-2">Front Length</div>

                                </div>
                                <hr>
                            </div>
                            <div class="col-12" *ngFor="let sizeGroup of sizesArray.controls; let i = index"
                                [formGroupName]="i">
                                <div class="row">
                                    <div class="col-md-2 mt-2">
                                        <label>{{ sizeGroup.get('size')?.value }}</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" formControlName="brandSize" class="form-control"
                                            placeholder="Brand Size">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" formControlName="chest" class="form-control"
                                            placeholder="Chest">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" formControlName="shoulder" class="form-control"
                                            placeholder="Shoulder">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" formControlName="frontLength" class="form-control"
                                            placeholder="Front Length">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="m-0 p-4 border mt-4 pt-2 rounded" style="background-color: aliceblue;">
                        <div class="row  " formGroupName="ProductDeimension">
                            <h5>Product Dimension (in CM):</h5>

                            <div class="col-3">
                                <label for="">Length</label>
                                <input type="text" formControlName="length" class="form-control">
                            </div>
                            <div class="col-3">
                                <label for="">Width</label>
                                <input type="text" formControlName="width" class="form-control">
                            </div>
                            <div class="col-3">
                                <label for="">Height</label>
                                <input type="text" formControlName="height" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-3">
                            <label for="">Net weight (in Grams)</label>
                            <input type="text" formControlName="netWeight" class="form-control">
                        </div>
                        <div class="col-3">
                            <label for="">MRP</label>
                            <input type="text" formControlName="MRP" class="form-control">
                        </div>
                    </div>


                    <div class="d-flex justify-content-center  mt-4">
                        <button type="button" class="btn btn-info me-2" (click)="nextStep()">Save and Next >></button>
                    </div>

                </div>

            <div *ngIf="currentStep === 2" class="">
                <div  [formGroup]="stepTwo" class="border p-4 rounded"
                    style="background-color: aliceblue;">
                    <h5>Add Color Collection:</h5>
                    <div class="row">
                        <!-- Color Code -->
                        <div class="col-2">
                            <label for="colorCode">Color Code</label>
                            <input type="color" id="colorCode" formControlName="colour"
                                class="form-control color-input">
                        </div>

                        <!-- Color Name -->
                        <div class="col-2">
                            <label for="colorName">Color Name</label>
                            <input type="text" id="colorName" formControlName="colourName" class="form-control"
                                placeholder="Color Name">
                            <div *ngIf="stepTwo.get('colourName')?.touched && stepTwo.get('colourName')?.invalid"
                                class="text-danger">
                                Color Name is required
                            </div>
                        </div>

                        <!-- Color Image -->
                        <div class="col-2">
                            <label for="colourImage">Product Icon</label>
                            <input type="file" id="colourImage" (change)="onFileChange($event, 'colourImage')"
                                class="form-control file-input">
                            <div *ngIf="stepTwo.get('colourImage')?.touched && stepTwo.get('colourImage')?.invalid"
                                class="text-danger">
                                Color Image is required
                            </div>
                        </div>

                        <!-- Product Video -->
                        <div class="col-3">
                            <label for="videoUpload">Product Video</label>
                            <input type="file" id="videoUpload" class="form-control file-input"
                                (change)="onFileChange($event, 'productVideo')" accept="video/*">
                            <div *ngIf="stepTwo.get('productVideo')?.touched && stepTwo.get('productVideo')?.invalid"
                                class="text-danger">
                                Product Video is required
                            </div>
                            <div *ngIf="videoSizeError" class="text-danger">
                                {{ videoSizeError }}
                            </div>
                        </div>
                    </div>

                    <!-- for product Images -->
                    <div class="row">
                        <div class="col-12">
                            <label for="">Add Product Images &nbsp;<small style="color: brown;">(max 5 images
                                    add)</small></label>
                            <div class="d-flex flex-wrap align-items-center product-box">
                                <div *ngFor="let image of productImages.controls; let i = index"
                                    class="position-relative m-1 image-container">
                                    <img [src]="image.value ? createObjectURL(image.value) : ''" alt="Product Image"
                                        class="image-preview">
                                    <button type="button" class="cancel-button"
                                        (click)="removeProductImage(i)">X</button>
                                </div>
                                <button *ngIf="productImages.length < 5" type="button" class="add-image-button"
                                    (click)="triggerFileInput()">
                                    <i class="bi bi-plus-square-dotted"></i>
                                </button>
                                <input type="file" id="productImageInput" (change)="onProductImageChange($event)"
                                    hidden>
                            </div>
                            <div *ngIf="productImages.length === 0 && stepTwo.get('productImages')?.touched"
                                class="text-danger mt-2">
                                At least one product image is required
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mt-3">
                        <!-- <button type="button" class="btn btn-info me-2" (click)="prevStep()">
                            &lt;&lt; Previous
                        </button> -->
                        <button type="submit" class="btn btn-info d-flex" (click)="saveStepTwoData()"><i class="bi bi-plus"></i> Add New Color</button>
                    </div>                   
                </div>

                 <!-- show added color collection -->
                                  
                    <div class="border p-4 rounded mt-4" [ngClass]="colourCollections?.length > 0 ? '' :'d-none'" >
                        <h5>Added Colour-Collection</h5>
                   <div  class="table-container rounded" >
                    <table>
                      <thead>
                        <tr>
                            <th>Sr. NO.</th>
                           <th>Colour Name</th>
                          <th>Colour Image</th>
                          <th>Product Video</th>
                          <th>Product Images</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let collection of colourCollections;let i = index">
                            <td>{{ i+1 }}</td>
                          <td>{{ collection.colourName | titlecase }}</td>
                          <td><img [src]="CloudPath+collection.colourImage" alt="{{ collection.colourName }}"></td>
                          <td><video controls [src]="collection.productVideo"></video></td>
                          <td>
                            <div class="product-images">
                              <img *ngFor="let image of collection.productImages" [src]="CloudPath+image" alt="Product Image">
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

            </div>
        </div>


            </form>




        </div>
    </div>
</section>