<section class="content">
    <div class="content-block">
        <h4 class="mt-4"><i class="bi bi-person-vcard-fill h3"></i> Manufacturer Delivery Challan</h4>
        <div class="card p-3">
            <mat-tab-group >
                <mat-tab label="Proceed">
                    <div class="content-block">
                        <div class="card mt-3 p-4">
                            <div class="p-grid p-fluid">
                                <div class="p-col-12 text-center">
                                    <p-table [value]="tableData">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>Wholesaler's Name</th>
                                                <th>Company Name</th>
                                                <th>Email</th>
                                                <th>PO Number</th>
                                                <th>Status</th>
                                                <!-- <th>PO Date</th> -->
                                                <th>View</th>
                
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-data>
                                            <tr>
                                                <td class="text-center">{{data.wholesaler.fullName}}</td>
                                                <td class="text-center">{{data.wholesaler.companyName}}</td>
                                                <td class="text-center">{{data.wholesaler.email}}</td>
                                                <td class="text-center">{{data.poNumber}}</td>
                                                <td class="text-center">{{data.status}}</td>
                                                <!-- <td class="text-center">{{data.poDate}}</td> -->
                                                <td class="text-center" [routerLink]="['/wholesaler/order-mng/View-MNFDChalan',{id: data.id}]"><button class="btn"><i class="bi bi-eye h5"></i></button></td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div *ngIf="!tableData"  class="mt-3 d-flex justify-content-center align-items-center">
                                        <p>All Delivery Challans Not Found [Server Error].</p>
                                    </div>
                                    <div *ngIf="tableData.length == 0"  class="mt-3 d-flex justify-content-center align-items-center">
                                        <p>All Delivery Challans Have Been Processed.</p>
                                    </div>
                                    <span *ngIf="!tableData || tableData.length == 0"
                                        class="data-not-found d-flex justify-content-center align-items-center"> </span>
                                    <p-paginator *ngIf="tableData && tableData.length > 0" (onPageChange)="onPageChange($event)"
                                        [first]="first" [rows]="rows" [totalRecords]="totalResults"
                                        [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Pending">
                    <div class="content-block">
                        <div class="card mt-3 p-4">
                            <div class="p-grid p-fluid">
                                <div class="p-col-12 text-center">
                                    <p-table [value]="tableData2">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>Wholesaler's Name</th>
                                                <th>Company Name</th>
                                                <th>Email</th>
                                                <th>PO Number</th>
                                                <th>Status</th>
                                                <!-- <th>PO Date</th> -->
                                                <th>View</th>
                
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-data>
                                            <tr>
                                                <td class="text-center">{{data.wholesaler.fullName}}</td>
                                                <td class="text-center">{{data.wholesaler.companyName}}</td>
                                                <td class="text-center">{{data.wholesaler.email}}</td>
                                                <td class="text-center">{{data.poNumber}}</td>
                                                <td class="text-center">{{data.status}}</td>
                                                <!-- <td class="text-center">{{data.poDate}}</td> -->
                                                <td class="text-center" [routerLink]="['/wholesaler/order-mng/View-MNFDChalan',{id: data.id}]"><button class="btn"><i class="bi bi-eye h5"></i></button></td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div *ngIf="!tableData2"  class="mt-3 d-flex justify-content-center align-items-center">
                                        <p>Delivery Challans Not Found [Server Error].</p>
                                    </div>
                                    <div *ngIf="tableData2.length == 0"  class="mt-3 d-flex justify-content-center align-items-center">
                                        <p> No Pending Delivery Challans at the Moment.</p>
                                    </div>
                                    <span *ngIf="!tableData2 || tableData2.length == 0"
                                        class="data-not-found d-flex justify-content-center align-items-center"> </span>
                                    <p-paginator *ngIf="tableData2 && tableData2.length > 0" (onPageChange)="onPageChange($event)"
                                        [first]="first" [rows]="rows" [totalRecords]="totalResults2"
                                        [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Checked">
                    <div class="content-block">
                        <div class="card mt-3 p-4">
                            <div class="p-grid p-fluid">
                                <div class="p-col-12 text-center">
                                    <p-table [value]="tableData3">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>Wholesaler's Name</th>
                                                <th>Company Name</th>
                                                <th>Email</th>
                                                <th>PO Number</th>
                                                <th>Status</th>
                                                <!-- <th>PO Date</th> -->
                                                <th>View</th>
                
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-data>
                                            <tr>
                                                <td class="text-center">{{data.wholesaler.fullName}}</td>
                                                <td class="text-center">{{data.wholesaler.companyName}}</td>
                                                <td class="text-center">{{data.wholesaler.email}}</td>
                                                <td class="text-center">{{data.poNumber}}</td>
                                                <td class="text-center">{{data.status}}</td>
                                                <!-- <td class="text-center">{{data.poDate}}</td> -->
                                                <td class="text-center" [routerLink]="['/wholesaler/order-mng/ViewFowarded',{id: data.id}]"><button class="btn"><i class="bi bi-eye h5"></i></button></td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div *ngIf="!tableData3"  class="mt-3 d-flex justify-content-center align-items-center">
                                        <p>Delivery Challans Not Found [Server Error].</p>
                                    </div>
                                    <div *ngIf="tableData3.length == 0"  class="mt-3 d-flex justify-content-center align-items-center">
                                        <p> No checked delivery challans available.</p>
                                    </div>
                                    <span *ngIf="!tableData3 || tableData3.length == 0"
                                        class="data-not-found d-flex justify-content-center align-items-center"> </span>
                                    <p-paginator *ngIf="tableData3 && tableData3.length > 0" (onPageChange)="onPageChange($event)"
                                        [first]="first" [rows]="rows" [totalRecords]="totalResults3"
                                        [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class=" mb-3">
            <app-bottom-side-advertise [imageUrl]="bottomAdImage"></app-bottom-side-advertise>
          </div>      
    </div>
</section>