<section class="content">
    <div class="content-block ">
        <div class="dashboard card p-4 mt-4">
            <div class="row m-0">
              <div class="col-8 m-0">
                <div class="row mb-4">
                  <div class="col box retailers">
                    <h4>Retailers</h4>
                    <p>Active:</p>
                    <p>Inactive:</p>
                    <p>Invitation Pending:</p>
                  </div>
                  <div class="col box orders">
                    <h4>Today's Orders</h4>
                    <p>Order Received:</p>
                    <p>Order Processed:</p>
                    <p>Order Return:</p>
                  </div>
                </div>
                <div class="row m-0">
                  <div class="col chart-container">
                    <div class="d-flex align-items-center mb-2">
                    <h5 class="mb-0 text-dark">Day-wise Total orders:</h5>
                    <div class="month-navigator ms-auto">
                        <button (click)="previousMonth()"><i class="bi bi-arrow-left-circle-fill"></i></button>
                        <span>{{ currentMonth | date: 'MMMM' }}</span>
                        <button (click)="nextMonth()"><i class="bi bi-arrow-right-circle-fill"></i></button>
                      </div>

                </div>
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
                      [stroke]="chartOptions.stroke" [grid]="chartOptions.grid" [xaxis]="chartOptions.xaxis"
                      [yaxis]="chartOptions.yaxis" [colors]="chartOptions.colors" [markers]="chartOptions.markers" [legend]="chartOptions.legend">
                    </apx-chart>
                  </div>
                </div>
              </div>
              <div class="col box products">
                <h4>Total Product Listed</h4>
                <p>Product In-stock</p>
                <p>Shirts: 10,000</p>
                <p>Tshirts:</p>
                <p>Jeans:</p>
                <p>Polos:</p>
                <p>Trousers:</p>
                <p>Denim Jackets:</p>
              </div>
            </div>
          </div>
          
    </div>
</section>





<!-- <div class="row">
    <div class="col-xl-3 mb-50">
        <div class="gradient-style1 text-white box-shadow border-radius-10 height-100-p widget-style3">
            <div class="d-flex flex-wrap align-items-center">
                <div class="widget-data">
                    <div class="weight-400 font-20">Server</div>
                    <div class="weight-300 font-30">75%</div>
                </div>
                <div class="widget-icon">
                    <div class="icon"><i class="fa fa-server" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-50">
        <div class="gradient-style2 text-white box-shadow border-radius-10 height-100-p widget-style3">
            <div class="d-flex flex-wrap align-items-center">
                <div class="widget-data">
                    <div class="weight-400 font-20">Traffic</div>
                    <div class="weight-300 font-30">55%</div>
                </div>
                <div class="widget-icon">
                    <div class="icon"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-50">
        <div class="gradient-style3 text-white box-shadow border-radius-10 height-100-p widget-style3">
            <div class="d-flex flex-wrap align-items-center">
                <div class="widget-data">
                    <div class="weight-400 font-20">Email</div>
                    <div class="weight-300 font-30">100</div>
                </div>
                <div class="widget-icon">
                    <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 mb-50">
        <div class="gradient-style4 text-white box-shadow border-radius-10 height-100-p widget-style3">
            <div class="d-flex flex-wrap align-items-center">
                <div class="widget-data">
                    <div class="weight-400 font-20">Domians</div>
                    <div class="weight-300 font-30">50</div>
                </div>
                <div class="widget-icon">
                    <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="bg-white box-shadow border-radius-10 height-100-p pd-20">
            <h2 class="font-weight-700 font-24 mb-20">Bubble Charts</h2>
            <div id="chart11"></div>
        </div>
    </div>
</div>
</div> -->