<section class="content">
    <div class="content-block">
      <!-- First Table: General Products -->
      <div id="purchase-order" *ngIf="mergedProducts && mergedProducts.length > 0">
        <h2>General Products</h2>
        <p-table [value]="mergedProducts" class="bordered-table">
          <ng-template pTemplate="header">
            <tr>
              <th>Design No</th>
              <th>Colour</th>
              <th *ngFor="let size of sizeHeaders">
                {{ size }} <br />
                <span *ngIf="!isSizeAvailable(mergedProducts, size)">N/A</span>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td>{{ row.designNumber }}</td>
              <td>{{ row.colourName }}</td>
              <td *ngFor="let size of sizeHeaders">
                {{ row.quantities[size] > 0 ? row.quantities[size] : 'N/A' }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  
    <!-- Second Table: Retailer Details -->
    <div class="content-block">
      <div *ngFor="let retailer of retailerDetails">
        <h2>Retailer: {{ retailer.retailer.fullName }}</h2>
        <p>PO Number: {{ retailer.poNumber }}</p>
        <p>Email: {{ retailer.retailer.email }}</p>
        <p>Address: {{ retailer.retailer.address }}, {{ retailer.retailer.state }}</p>
  
        <p-table [value]="retailer.mergedProducts" class="bordered-table">
          <ng-template pTemplate="header">
            <tr>
              <th>Design No</th>
              <th>Colour</th>
              <th *ngFor="let size of sizeHeaders">{{ size }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td>{{ row.designNumber }}</td>
              <td>
                <img *ngIf="row.colourImage"
                     [src]="'https://lmscontent-cdn.blr1.digitaloceanspaces.com' + row.colourImage"
                     alt="Colour Image"
                     width="50"
                     height="50" />
                <span *ngIf="!row.colourImage" 
                      [ngStyle]="{'background-color': row.colour || '#ffffff'}" 
                      class="colour-placeholder">
                </span>
              </td>
              <td *ngFor="let size of sizeHeaders">
                {{ row.quantities[size] > 0 ? row.quantities[size] : 'N/A' }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  
    <!-- No Data Fallback -->
    <div *ngIf="!mergedProducts.length && (!retailerDetails || retailerDetails.length === 0)" class="no-data-found">
      <p>No data found</p>
    </div>
  </section>
  