<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: rgb(242, 94, 94)">Loading...</p>
</ngx-spinner>

<section class="content">
  <div class="content-block">
    <h4 class="title mt-2">
      <i class="bi bi-person-vcard-fill icon"></i> Profile Preview
    </h4>


<section class="profile-preview">
  <div class="profile-header">
    <!-- Profile Logo -->
    <div class="profile-logo">
      <button class="btn navigate" (click)="navigateFun()">
        <i class="bi bi-arrow-left-circle h4"></i>
      </button>
      <img *ngIf="allVisabilityData?.visibilitySettings?.logo" [src]="allVisabilityData?.profileImg" alt="Company Logo"
      onerror="this.onerror=null; this.src='assets/images/company_logo.jpg';">
    </div>
    
    <!-- Profile Details -->
    <div class="profile-details">
      <h1 class="company-name" *ngIf="allVisabilityData?.visibilitySettings?.companyName">
        {{ allVisabilityData?.companyName }}
      </h1>
      <p class="registration-info">
        <!-- Registered As: {{ allVisabilityData?.visibilitySettings?.registerOnFTH || 'Manufacturer' }}<br> -->
        <label  style="font-size: medium;">Registered As: {{ 'Manufacturer' }}</label><br>
        <label  style="font-size: medium;" *ngIf="allVisabilityData?.visibilitySettings?.registerOnFTH" >Registered on FTH: {{ allVisabilityData?.registerOnFTH | date: 'MMM d, y' }}</label>
      </p>
    </div>
    
    
    
  </div>

  <!-- Introduction Section -->
  <div class="profile-introduction" *ngIf="allVisabilityData?.visibilitySettings?.introduction">
    <h4>Introduction</h4>
    <p>
      {{ allVisabilityData?.introduction }}
    </p>
  </div>

  <!-- Company Profile Section -->
  <div class="company-profile" *ngIf="
        allVisabilityData?.visibilitySettings?.fullName || 
        allVisabilityData?.visibilitySettings?.establishDate || 
        allVisabilityData?.visibilitySettings?.fileName || 
        allVisabilityData?.visibilitySettings?.leagalStatusOfFirm ||
        allVisabilityData?.visibilitySettings?.GSTIN || 
        allVisabilityData?.visibilitySettings?.pan ||
        allVisabilityData?.visibilitySettings?.email2 ||
        allVisabilityData?.visibilitySettings?.mobNumber1 ||
        allVisabilityData?.visibilitySettings?.mobNumber2 ||
        allVisabilityData?.visibilitySettings?.email || 
        allVisabilityData?.visibilitySettings?.city || 
        allVisabilityData?.visibilitySettings?.state ||
        allVisabilityData?.visibilitySettings?.country ||
        allVisabilityData?.visibilitySettings?.pinCode 
          ">
    <h4>Company Profile</h4>
    <table>
      <tr>
        <td  *ngIf="allVisabilityData?.visibilitySettings?.fullName" > Founder :- {{ allVisabilityData?.fullName || 'N/A' }}</td>
        <td  *ngIf="allVisabilityData?.visibilitySettings?.establishDate"> Establishment Date :- {{ allVisabilityData?.establishDate | date: 'MMM d, y' }}</td> 
      </tr>
     
      <tr>
        <td *ngIf="allVisabilityData?.visibilitySettings?.kycVerified "> KYC Status :- {{ allVisabilityData?.kycVerified ? 'Verified' : (allVisabilityData?.kycVerified === false ? 'Not Verified' : 'N/A') }}</td> 
        <td *ngIf="allVisabilityData?.visibilitySettings?.leagalStatusOfFirm"> Legal Status of Firm :- {{ allVisabilityData?.leagalStatusOfFirm || 'N/A' }}</td>
      </tr>
      <tr>
        <td *ngIf="allVisabilityData?.visibilitySettings?.GSTIN"> GST No. :- {{ allVisabilityData?.GSTIN || 'N/A' }}</td>
        <td *ngIf="allVisabilityData?.visibilitySettings?.pan"> PAN :- {{ allVisabilityData?.pan || 'N/A' }}</td>
      </tr>
      <tr>
        <td *ngIf="allVisabilityData?.visibilitySettings?.mobNumber"> Mobile No. :- {{ allVisabilityData?.mobNumber || 'N/A' }}</td>
        <td *ngIf="allVisabilityData?.visibilitySettings?.mobNumber2"> Alt Mobile No. :- {{ allVisabilityData?.mobNumber2 || 'N/A' }}</td>
      </tr>
      <tr >
        <td *ngIf="allVisabilityData?.visibilitySettings?.email"> Email :- {{ allVisabilityData?.email || 'N/A' }}</td>
        <td *ngIf="allVisabilityData?.visibilitySettings?.email2"> Alt Email :- {{ allVisabilityData?.email2 || 'N/A' }}</td>
      </tr>
      <tr>
        <td *ngIf="allVisabilityData?.visibilitySettings?.city"> City :- {{ allVisabilityData?.city || 'N/A' }}</td>
        <td *ngIf="allVisabilityData?.visibilitySettings?.state"> State :- {{ allVisabilityData?.state || 'N/A' }}</td>
      </tr>
      <tr>
        <td *ngIf="allVisabilityData?.visibilitySettings?.pinCode"> Pin Code :- {{ allVisabilityData?.pinCode || 'N/A' }}</td>
        <td *ngIf="allVisabilityData?.visibilitySettings?.country"> Country :- {{ allVisabilityData?.country || 'N/A' }}</td>
      </tr>
     
      <tr>
        <td colspan="2" *ngIf="allVisabilityData?.visibilitySettings?.address">Address :- {{ allVisabilityData?.address || 'N/A' }}</td>
      </tr>
    </table>
  </div>

<!-- Registered Brands -->
<div class="brands-section mb-2" *ngIf="brandsDetails && brandsDetails?.length > 0">
  <h4>Our Brands</h4>
  <div class="brand-list">
    <div *ngFor="let brand of brandsDetails">
      <div class="brand-item mt-2">
        <img [src]="brand.brandLogo" [alt]="brand.brandName" onerror="this.onerror=null; this.src='assets/images/brandlogo.jpg';" />
      </div>
      <div class="brand-name text-center mt-2">
        <h6>{{ brand.brandName }}</h6>
      </div>
    </div>
  </div>
</div>

  <!-- Bank Details Section -->
  <div class="bank-details" *ngIf="allVisabilityData?.visibilitySettings?.BankDetails?.bankName || 
        allVisabilityData?.visibilitySettings?.BankDetails?.branch || 
        allVisabilityData?.visibilitySettings?.BankDetails?.accountNumber || 
        allVisabilityData?.visibilitySettings?.BankDetails?.IFSCcode">
    <h4>Bank Details</h4>
    <table>
        <tr>
            <td *ngIf="allVisabilityData?.visibilitySettings?.BankDetails.accountNumber">
                Bank Account No. :- {{ allVisabilityData?.BankDetails?.accountNumber || 'N/A' }}
            </td>
            <td *ngIf="allVisabilityData?.visibilitySettings?.BankDetails.bankName">
                Bank Name :- {{ allVisabilityData?.BankDetails?.bankName || 'N/A' }}
            </td>
        </tr>
        <tr>
            <td *ngIf="allVisabilityData?.visibilitySettings?.BankDetails.IFSCcode">
                IFSC Code :- {{ allVisabilityData?.BankDetails?.IFSCcode || 'N/A' }}
            </td>
            <td *ngIf="allVisabilityData?.visibilitySettings?.BankDetails.branch">
                Branch :- {{ allVisabilityData?.BankDetails?.branch || 'N/A' }}
            </td>
        </tr>
    </table>
  </div>

  <!-- Bank Details Section -->
  <div class="bank-details" *ngIf="allVisabilityData?.visibilitySettings?.socialMedia?.webSite || 
        allVisabilityData?.visibilitySettings?.socialMedia?.facebook  ||
        allVisabilityData?.visibilitySettings?.socialMedia?.instagram ||
        allVisabilityData?.visibilitySettings?.socialMedia.linkedIn ">
    <h4>Social Media</h4>
    <table>
        <tr>
            <td *ngIf="allVisabilityData?.visibilitySettings?.socialMedia?.webSite">
              Web Site :-
              <a  href="{{ allVisabilityData?.socialMedia?.webSite }}" target="_blank" class="facebook">
                {{ allVisabilityData?.socialMedia?.webSite }}
              </a>
            </td>
            <td  *ngIf="allVisabilityData?.visibilitySettings?.socialMedia?.facebook">
              Facebook :-
              <a href="{{ allVisabilityData?.socialMedia?.facebook }}" target="_blank" >
                {{ allVisabilityData?.socialMedia?.facebook }}
              </a>
            </td>
        </tr>
        <tr>
            <td *ngIf="allVisabilityData?.visibilitySettings?.socialMedia?.instagram">
              Instagram :-
              <a  href="{{ allVisabilityData?.socialMedia?.instagram }}" target="_blank" >
                {{ allVisabilityData?.socialMedia?.instagram }}
              </a>
            </td>
            <td *ngIf="allVisabilityData?.visibilitySettings?.socialMedia.linkedIn">
              LinkedIn :-
              <a  href="{{ allVisabilityData?.socialMedia?.linkedin }}" target="_blank" class="share-icon twitter">
                {{ allVisabilityData?.socialMedia?.linkedIn }}
              </a>
            </td>
        </tr>
    </table>
  </div>

</section>
</div>
</section>
