<section class="content">
  <div class="content-block">
    <h4 class="mt-3 flex-grow-1">
      <div class="m-0 p-0 d-flex align-items-center">
        <button class="btn text-start" (click)="navigateFun()">
          <i class="bi bi-arrow-left-circle h4"></i>
        </button>
        <!-- <span class="text-center" style="margin-left: 474px;">Product Details</span> -->
        <button type="button" class="btn btn-success ms-auto" (click)="editProduct()">Edit</button>
      </div>
    </h4>
    <div class="card p-4 pt-2">
      <h5 class="text-center mb">Product Details</h5>
      <hr class="mt-0">
      <div class="product-details-content">
        <div class="product-images">
          <div class="zoom-container">
            <img #mainImage *ngIf="selectedMediaType === 'image'" [src]=" selectedMedia"
            onerror="this.onerror=null; this.src='assets/images/Product_Alt.jpeg';"
              (mousemove)="zoomImage($event)" (mouseleave)="resetZoom($event)" alt="Main Product Image "
              class="zoom-image">

            <video *ngIf="selectedMediaType === 'video'" style="width: 380px; height: 495px;"
              [src]="selectedMedia" controls>
            </video>
            <button *ngIf="selectedMediaType === 'image'" (click)="openImg(selectedMedia,1400)"
              class="action-button"><i class="bi bi-zoom-in"></i></button>
          </div>
          <div class="thumbnail-images">
            <div class="thumbnail" *ngFor="let media of product?.media" (click)="changeMainMedia(media)"
              [class.active]="media.src === selectedMedia">
              <img *ngIf="media.type === 'image'" [src]="media.src" alt="Product Thumbnail">
              <div *ngIf="media.type === 'video'" class="video-thumbnail">
                <i class="bi bi-play-circle-fill"></i>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgcAFN3D0j48KEiZtXy9H8Z-brml1fSzLUAQ&s"
                  style="width: 55px; height: 75px;" alt="Product Thumbnail">
              </div>
            </div>
          </div>
        </div>

        <div class="product-info">
          <div class="">
            <h6 class="mb-0">Brand : {{product?.brand}}</h6>
            <div class="d-flex justify-content-between">
              <p><small>Design No. </small> <br> {{ product?.designNumber }}</p>
              <p><small>Product Type. </small> <br> {{ product?.productType }}</p>
              <p><small>Clothing</small> <br> {{ product?.clothingType }}</p>
              <p><small>Sub Category</small> <br>{{ product?.subCategory }}</p>
              <p><small>Gender</small> <br>{{ product?.gender }}</p>
              <p><small>FSIN</small> <br>{{ product?.FSIN }}</p>
            </div>
            <hr class="m-0">
          </div>

          <div class="product-info-section">
            <p><small>Title:</small></p>
            <p>{{ product?.title }}</p>
          </div>

          <div class="product-info-section">
            <p><small>Description:</small></p>
            <p>{{ product?.description }}</p>
          </div>
          <hr>
          <div class="row">
            <p class="col-md-4 col-sm-6"><small>Material</small> <br> {{ product?.material }}</p>
            <p class="col-md-4 col-sm-6"><small>Material Variety</small> <br> {{ product?.materialVariety }}</p>
            <p class="col-md-4 col-sm-6"><small>Pattern</small> <br> {{ product?.pattern }}</p>
          </div>
          <div class="row">
            <p class="col-md-4 col-sm-6"><small>Fit Type</small> <br> {{ product?.fitType }}</p>
            <p class="col-md-4 col-sm-6"><small>Occasion</small> <br> {{ product?.occasion }}</p>
            <p class="col-md-4 col-sm-6"><small>Lifestyle</small> <br> {{ product?.lifestyle }}</p>
          </div>

          <div class="row">
            <p class="col-md-4 col-sm-6"><small>Closure Type</small><br> {{ product?.closureType }}</p>
            <p class="col-md-4 col-sm-6"><small>Pocket Description</small><br> {{ product?.pocketDescription }}</p>
            <p class="col-md-4 col-sm-6"><small>Sleeve Cuff Style</small><br> {{ product?.sleeveCuffStyle }}</p>
          </div>
          <div class="row">
            <p class="col-md-4 col-sm-6"><small>Neck / Collar Style</small><br> {{ product?.neckCollarStyle }}</p>
            <p class="col-md-4 col-sm-6"><small>Special Features</small><br> {{ product?.specialFeatures }}</p>
            <p class="col-md-4 col-sm-6"><small>Care Instructions</small><br> {{ product?.careInstructions }}</p>
          </div>

       
          

          <hr>

          <div class="">
            <p class="mb-0"><small>Colours / Designs :</small> {{selectedColourName}} </p>
            <div class="d-flex">
              <span *ngFor="let colour of product?.colours" [ngClass]="{'disabled': !(colour?.images?.length > 0)}"
                (click)="selectColourCollection(colour)" (mouseenter)="onHoverColour(colour)"
                (mouseleave)="onLeaveColour()" style="cursor: pointer; display: flex;">
                <div class="colour-info">
                  <span *ngIf="colour.image; else colourBox">
                    <img [src]="colour.image" alt="Colour Image" class="colour-image">
                  </span>
                  <ng-template #colourBox>
                    <span [style.background]="colour.hex" class="colour-hex"></span>
                  </ng-template>
                </div>
              </span>
            </div>


            <!-- <p><small>Selected Colour: </small><br>{{ selectedColourName }}</p> -->
          </div>

          <!-- <div class="row">
            
          </div> -->

          <!-- <div class="row">
            <p class="col-md-4 col-sm-6"><small>Date Available</small> <br> {{ product?.dateAvailable }}</p>
            <p class="col-md-4 col-sm-6"><small>Availability</small> <br> {{ product?.availability }}</p>
          </div> -->
        </div>
        
      </div>
      <!-- <hr>
      <div class="add-to-card">
        <button type="button" class="btn btn-wishlist" ><i class="bi bi-heart"></i>&nbsp; WISHLIST</button>
        <div class="d-flex align-items-center">
          <label for="">Quantity</label> &nbsp;
          <input type="text" class="form-control w-50">
        </div>
        <button type="button" class="btn btn-wishlist">ADD TO CART</button>
      </div> -->
      <hr>
      <div class="table-responsive" *ngIf="product?.sizes.length !== 0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Standard Size</th>
              <th>Brand Size</th>
      
              <!-- Conditionally show columns based on available size attributes -->
              <th *ngIf="product?.sizes[0]?.waist">Waist Size</th>
              <th *ngIf="product?.sizes[0]?.inseam">Inseam</th>
              <th *ngIf="product?.sizes[0]?.lengthIn">Length (in)</th>
              <th *ngIf="product?.sizes[0]?.rise">Rise</th>

              <th *ngIf="product?.sizes[0]?.chestSize">Chest Size</th>
              <th *ngIf="product?.sizes[0]?.shoulderSize">Shoulder Size</th>
              <th *ngIf="product?.sizes[0]?.frontLength">Front Length</th>
              <th *ngIf="product?.sizes[0]?.neckSize">Neck Size</th>
      
              <th>Manufacturer Price</th>
              <th>Retail Price</th>
              <th>Single MRP</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let size of product?.sizes">
              <tr>
                <td>{{ size.standardSize }}</td>
                <td>{{ size.brandSize }}</td>
      
                <!-- Conditionally show data based on available size attributes -->
                <td *ngIf="size.waist">{{ size.waist }}</td>
                <td *ngIf="size.inseam">{{ size.inseam }}</td>
                <td *ngIf="size.lengthIn">{{ size.lengthIn }}</td>
                <td *ngIf="size.rise">{{ size.rise }}</td>

                <td *ngIf="size.chestSize">{{ size.chestSize }}</td>
                <td *ngIf="size.shoulderSize">{{ size.shoulderSize }}</td>
                <td *ngIf="size.frontLength">{{ size.frontLength }}</td>
                <td *ngIf="size.neckSize">{{ size.neckSize }}</td>
      
                <!-- Price fields -->
                <td>{{ size.manufacturerPrice }}</td>
                <td>{{ size.RtlPrice }}</td>
                <td>{{ size.singleMRP }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</section>