<section class="content">
    <div class="content-block">
      <h4 class="mt-4">
        <i class="bi bi-person-vcard-fill h3"></i>
        <!-- {{ isNewPO ? 'Generate PO' : 'PO List' }} -->
      </h4>
  
      <div id="purchase-order" class="challan-container card my-2">
        <div class="header">
          <div class="logo">
            <img [src]="" alt="Company Logo">
          </div>
          <div class="company-info ms-4">
            <h1>{{ purchaseOrder.buyerName }}</h1>
            <p>{{ purchaseOrder.buyerDetails }}</p>
            <p>{{ purchaseOrder.buyerAddress }}</p>
            <p>{{ purchaseOrder.buyerPhone }}</p>
            <p class="mb-2"><b>GSTIN : {{ purchaseOrder.buyerGSTIN }}</b></p>
          </div>
        </div>
  
        <section class="gstin my-0">
          <h2>PURCHASE ORDER</h2>
        </section>
        <hr class="my-1">
        <div class="text-center">
          <h5 class="mb-0"><u>SUPPLIER DETAILS</u></h5>
        </div>
  
        <section class="customer-details">
          <div class="customer-info">
            <p><strong>Supplier :</strong> <span>{{ purchaseOrder.supplierName }}</span></p>
            <p><strong>Address :</strong> <span>{{ purchaseOrder.supplierAddress }}</span></p>
            <p><strong>Phone :</strong> <span>{{ purchaseOrder.supplierContact }}</span></p>
            <p><strong>Email :</strong> <span>{{ purchaseOrder.supplierEmail }}</span></p>
            <p><strong>GSTIN :</strong> <span>{{ purchaseOrder.supplierGSTIN }}</span></p>
          </div>
          <div class="challan-info">
            <p><strong>PO Number :</strong> <span><b>{{ purchaseOrder.poNumber }}</b></span></p>
            <p><strong>PO Date :</strong> <span>{{ purchaseOrder.poDate }}</span></p>
          </div>
        </section>
  
        <div class="text-center">
          <h5 class="mb-0"><u>ORDER DETAILS</u></h5>
        </div>
        <hr class="my-1">
  
        <section class="order-details">
          <div *ngFor="let group of processGroupedProducts(filteredData.set)" class="mb-4">
            <p-table [value]="group.rows">
                <ng-template pTemplate="header">
                <tr>
                    <th>Design No</th>
                    <th>Colour</th>
                    <th *ngFor="let size of sizeHeaders">
                    {{ size }} <br>
                    <span *ngIf="isSizeAvailable(group.rows, size)">
                        {{ priceHeaders[size] | currency: 'INR' }}
                    </span>
                    <span *ngIf="!isSizeAvailable(group.rows, size)">
                        N/A
                    </span>
                    </th>
                    <th>Price</th>
                </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                <tr>
                    <td>{{ group.designNumber }}</td>
                    <td>
                    <img *ngIf="row.colourImage" [src]="'https://lmscontent-cdn.blr1.digitaloceanspaces.com' + row.colourImage" alt="Colour Image" width="50" height="50" />
                    <span *ngIf="!row.colourImage" [ngStyle]="{'background-color': row.colour || '#ffffff'}" style="width: 50px; height: 50px; display: inline-block; text-align: center; line-height: 50px; color: #fff; border-radius: 4px;">
                    </span>
                    </td>
                    <td *ngFor="let size of sizeHeaders">
                    {{ row.quantities[size] > 0 ? row.quantities[size] : 'N/A' }}
                    </td>
                    <td>{{ calculateTotalPrice(row) | currency: 'INR' }}</td>
                </tr>
                </ng-template>
            </p-table>
            </div>
        </section>
  
        <section class="totals">
          <div class="total-amount">
            <p class="mb-1 fw-bold">Total Sub Total : {{ Totalsub | currency: 'INR' }}</p>
            <p class="mb-1 fw-bold">Total GST (18%) : {{ gst | currency: 'INR' }}</p>
            <p class="mb-1 fw-bold">Total Grand Total : {{ totalGrandTotal | currency: 'INR' }}</p>
          </div>
        </section>
      </div>
  
      <div class="row">
        <div class="col-12">
          <div class="text-center my-3" >
            <button class="btn btn-success"(click)="addpo()">Generate Purchase Order</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  