<section class="content">
  <div class="content-block">
    <h4 class="mt-3 flex-grow-1">
      <div class="m-0 p-0 d-flex align-items-center">
        <button class="btn text-start" (click)="navigateFun()">
          <i class="bi bi-arrow-left-circle h4"></i>
        </button>
      </div>
    </h4>
    <div class="card p-4 pt-2">
      <h5 class="text-center mb">Product Details</h5>
      <hr class="mt-0">
      <div class="product-details-content">
        <div class="product-images">
          <div class="zoom-container">
            <img #mainImage *ngIf="selectedMediaType === 'image'" [src]="selectedMedia"
              onerror="this.onerror=null; this.src='assets/images/Product_Alt.jpeg';" (mousemove)="zoomImage($event)"
              (mouseleave)="resetZoom($event)" alt="Main Product Image" class="zoom-image">
            <!-- alt image added for product -->
            <video *ngIf="selectedMediaType === 'video'" style="width: 380px; height: 495px;" [src]="selectedMedia"
              controls>
            </video>
            <button *ngIf="selectedMediaType === 'image'" (click)="openImg(selectedMedia,1400)" class="action-button"><i
                class="bi bi-zoom-in"></i></button>
          </div>
          <div class="thumbnail-images">
            <div class="thumbnail" *ngFor="let media of product?.media" (click)="changeMainMedia(media)"
              [class.active]="media.src === selectedMedia">
              <img *ngIf="media.type === 'image'" [src]="media.src" alt="Product Thumbnail">
              <div *ngIf="media.type === 'video'" class="video-thumbnail">
                <i class="bi bi-play-circle-fill"></i>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgcAFN3D0j48KEiZtXy9H8Z-brml1fSzLUAQ&s"
                  style="width: 55px; height: 75px;" alt="Product Thumbnail">
              </div>
            </div>
          </div>
        </div>

        <div class="product-info">
          <div class="">
            <h6 class="mb-0">Brand : {{product?.brand}}</h6>
            <div class="d-flex justify-content-between">
              <p><small>Design No </small> <br> {{ product?.designNumber }}</p>
              <p><small>Clothing</small> <br> {{ product?.clothingType }}</p>
              <p><small>Sub Category</small> <br>{{ product?.subCategory }}</p>
              <p><small>Gender</small> <br>{{ product?.gender }}</p>
              <p><small>FSIN</small> <br>{{ product?.FSIN }}</p>
            </div>
            <hr class="m-0">
          </div>

          <div class="product-info-section">
            <p><small>Title:</small></p>
            <p>{{ product?.title }}</p>
          </div>

          <div class="product-info-section">
            <p><small>Description:</small></p>
            <p>{{ product?.description }}</p>
          </div>
          <hr>
          <div class="row">
            <p class="col-md-4 col-sm-6"><small>Material</small> <br> {{ product?.material }}</p>
            <p class="col-md-4 col-sm-6"><small>Material Variety</small> <br> {{ product?.materialVariety }}
            </p>
            <p class="col-md-4 col-sm-6"><small>Pattern</small> <br> {{ product?.pattern }}</p>
          </div>
          <div class="row">
            <p class="col-md-4 col-sm-6"><small>Fit Type</small> <br> {{ product?.fitType }}</p>
            <p class="col-md-4 col-sm-6"><small>Occasion</small> <br> {{ product?.occasion }}</p>
            <p class="col-md-4 col-sm-6"><small>Lifestyle</small> <br> {{ product?.lifestyle }}</p>
          </div>

          <div class="row">
            <p class="col-md-4 col-sm-6"><small>Closure Type</small><br> {{ product?.closureType }}</p>
            <p class="col-md-4 col-sm-6"><small>Pocket Description</small><br> {{ product?.pocketDescription
              }}</p>
            <p class="col-md-4 col-sm-6"><small>Sleeve Cuff Style</small><br> {{ product?.sleeveCuffStyle }}
            </p>
          </div>
          <div class="row">
            <p class="col-md-4 col-sm-6"><small>Neck / Collar Style</small><br> {{ product?.neckCollarStyle
              }}</p>
            <p class="col-md-4 col-sm-6"><small>Special Features</small><br> {{ product?.specialFeatures }}
            </p>
            <p class="col-md-4 col-sm-6"><small>Care Instructions</small><br> {{ product?.careInstructions
              }}</p>
          </div>
          <hr>

          <div class="">
            <p class="mb-0"><small>Colours / Designs :</small> {{selectedColourName}} </p>
            <div class="d-flex">
              <span *ngFor="let colour of product?.colours" [ngClass]="{'disabled': !(colour?.images?.length > 0)}"
                (click)="selectColourCollection(colour)" (mouseenter)="onHoverColour(colour)"
                (mouseleave)="onLeaveColour()" style="cursor: pointer; display: flex;">
                <div class="colour-info">
                  <span *ngIf="colour.image; else colourBox">
                    <img [src]="colour.image" alt="Colour Image" class="colour-image">
                  </span>
                  <ng-template #colourBox>
                    <span [style.background]="colour.hex" class="colour-hex"></span>
                  </ng-template>
                </div>
              </span>
            </div>
            <button type="button" class="btn submit-btn mt-3 me-2" [disabled]="wishlist"
            [ngClass]="wishlist?'btn-wishlist-true':'btn-wishlist'" [hidden]="wishlisted" (click)="WishlistAdd()"><i
            class="bi bi-heart"></i>&nbsp; WISHLIST</button>
          </div>

        </div>
      </div>
      <hr>
      <div class="price-section">
        <div class="row flex">
          <div class="col-md-3">
            <label>Color:</label>
            <select [(ngModel)]="selectedColor" (change)="onColorChange()" class="form-control select">
              <option value="" disabled> Select Color</option>
              <option *ngFor="let color of colours" [value]="color.name">{{ color.name }}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Size:</label>
            <select [(ngModel)]="selectedSize" class="form-control select" (change)="onSizeChange()">
              <option value="" disabled> Select Size</option>
              <option *ngFor="let size of availableSizes" [value]="size">{{ size }}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Price:</label>
            <input class="form-control" type="text" [value]="calculatedPrice" disabled readonly>
          </div>
          <div class="col-md-2">
            <label>Quantity:</label>
            <input class="form-control" type="number" [(ngModel)]="selectedQuantity" min="1">
          </div>
          <div class="col-md-1 flex pt-3">
            <button (click)="addItem()" class="btn btn-primary ">Add</button>
          </div>
        </div>

        <!-- Temporary cart table -->
        <div class="temp-cart" *ngIf="tempCart.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Color</th>
                <th>Size</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tempCart; let i = index">
                <td>{{ item.colourName }}</td>
                <td>{{ item.size }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price * item.quantity }}</td>
                <td><button class="btn btn-sm btn-danger" (click)="removeItem(i)"><i class="bi bi-trash-fill"></i></button></td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center">
            <button class="btn submit-btn mt-3 me-2" (click)="addToCartArray()">Add to Cart</button>
          </div>
        </div>
      </div>

      <!-- <div class="">
                <form [formGroup]="stepThree" (ngSubmit)="saveStepThree()">
                    <div class="inventory-container3">
                      <div class="header3">
                        <div class="size-label3">Sizes:
                          <br />
                          Price:
                        </div>
                        <div class="size-headers3">
                          <div *ngFor="let size of selectedSizes" class="size-header3">
                            {{ size.size }} <br />
                            <small>{{ size.price | currency: 'INR' }}</small>
                          </div>
                          <div class="size-header3">Total</div>
                        </div>
                      </div>
                      <hr class="mt-0 mb-1" />
                      <div *ngFor="let color of colourCollections" class="color-row3">
                        <div class="color-box-container3">
                          <div *ngIf="color.image; else noImage">
                            <img
                              [src]="color.image"
                              alt="{{ color.name }}"
                              class="color-image3"
                              title="{{ color.name }}"
                            />
                          </div>
                          <ng-template #noImage>
                            <div
                              class="color-box3"
                              [ngStyle]="{ 'background-color': color.hex }"
                              title="{{ color.name }}"
                            ></div>
                          </ng-template>
                        </div>
                  
                        <div class="size-inputs3">
                          <div *ngFor="let size of selectedSizes" class="size-input3">
                            <input
                              type="number"
                              [formControlName]="getControlName(color.name, size.size)"
                              placeholder="Qty"
                              min="0"
                              (input)="updateRowTotal(color.name, size.size)"
                              (wheel)="disableScroll($event)"
                            />
                          </div>
                          <div class="size-input3">
                            <span>{{ getRowTotal(color.name) | currency: 'INR' }}</span> 
                          </div>
                        </div>
                      </div>
                    </div> -->
      <!-- <div class="d-flex justify-content-center">
        <button type="submit" class="btn submit-btn mt-3 me-2">Add to Cart</button>

      </div> -->
      <!-- </form>                  
            </div> -->
    </div>
  </div>
</section>