.user-panel .image {
    width: 54% !important;
    max-width: 139px !important;
    margin: 0 auto;
}

.sidebar-userpic-name, .profile-usertitle-job{
    font-weight: bold;
}

.toggle-icon {
  float: right;
  font-size: 16px;
  font-weight: bold;
}
