/* profile-dialog.component.css */
.dialog-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dialog-col {
  flex: 1;
  margin-right: 10px;
}

.dialog-col:last-child {
  margin-right: 0;
}

h5 {
  font-weight: 470px;
  margin-top: 10px;
}

p, a {
  margin: 0;
}
