<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: rgb(242, 94, 94)"> Loading... </p>
  </ngx-spinner>
  
  <div class="card p-4">
    <form [formGroup]="stepThree" (ngSubmit)="saveStepThree()"> 
      <h5 class="mt-4">Minimum Quantity Alert</h5>
      <div class="inventory-container3">
        <div class="header3">
          <div class="size-label3">Size Set:</div>
          <div class="size-headers3">
            <div *ngFor="let size of selectedSizes" class="size-header3">{{ size }}</div>
          </div>
        </div>
  
        <div *ngFor="let color of colourCollections" class="color-row3">
          <div class="color-box-container3">
            <div *ngIf="color.colourImage; else noImage">
              <img [src]="color.colourImage" alt="{{ color.colourName }}" class="color-image3" title="{{ color.colourName }}" />
            </div>
            <ng-template #noImage>
              <div class="color-box3" [ngStyle]="{'background-color': color.colour}" title="{{ color.colourName }}"></div>
            </ng-template>
          </div>
          
          <div class="size-inputs3">
            <div *ngFor="let size of selectedSizes" class="size-input3">
              <input
                type="number"
                [formControlName]="'min_' + getControlName(color.colourName, size)"
                placeholder="Min Qty"
                min="0"
              />
            </div>
          </div>
        </div>
      </div>
  
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn submit-btn mt-3 me-2">Final Submit</button>
      </div>
    </form>
  </div>
  