<section class="content">
  <div class="content-block">
    <!-- Page Header -->
    <h4 class="mt-4">
      <button class="btn navigate" (click)="navigateFun()">
      <i class="bi bi-arrow-left-circle h4"></i>
    </button> View Purchase Order
    </h4>

    <!-- Button to Download PDF -->
    <!-- <div class="d-flex justify-content-end">
        <button class="btn btn-success" (click)="printPO()">Download PDF</button>
      </div> -->

    <!-- Purchase Order Container -->
    <div id="purchase-order" class="challan-container card my-2">
      <!-- Header Section -->
      <div class="header d-flex justify-content-between align-items-center">
        <div class="company-info text-center">
          <h1>PURCHASE ORDER</h1>
        </div>
        <div class="order-info text-right">
          <p><strong>Order Date:</strong> {{ purchaseOrder.poDate }}</p>
          <p><strong>Order No:</strong> {{ purchaseOrder.poNumber }}</p>
        </div>
      </div>

      <!-- Buyer and Seller Information -->
      <div class="buyer-seller-info d-flex justify-content-between">
        <div class="logo">
          <img [src]="purchaseOrder.logoUrl" alt="Company Logo"
            onerror="this.onerror=null; this.src='assets/images/company_logo.jpg';" />
        </div>
        <!-- Buyer Information -->
        <div class="buyer-info">
          <h5>Order By:</h5>
          <p><strong>{{ purchaseOrder.buyerName }}</strong></p>
          <p>{{ purchaseOrder.buyerAddress}}</p>
          <p>Phone No.: {{ purchaseOrder.buyerPhone }}</p>
          <p>Email: {{ purchaseOrder.buyerEmail }}</p>
          <p>GSTN: {{ purchaseOrder.buyerGSTIN }}</p>
          <p>PAN: {{ purchaseOrder.buyerPAN }}</p>
        </div>

        <!-- Seller Information -->
        <div class="seller-info">

          <h5>Order To:</h5>
          <p><strong>{{ purchaseOrder.supplierName }}</strong></p>
          <p>{{ purchaseOrder.supplierAddress }}</p>
          <p>Phone No.: {{ purchaseOrder.supplierContact }}</p>
          <p>Email: {{ purchaseOrder.supplierEmail }}</p>
          <p>GSTN: {{ purchaseOrder.supplierGSTIN }}</p>
          <p>PAN: {{ purchaseOrder.supplierPAN }}</p>
        </div>
      </div>

      <section class="order-details">
        <h4 class="text-center mb-3">Order Details</h4>
        <!-- <div *ngIf="mergedProducts && mergedProducts.length > 0"> -->
          <p-table [value]="purchaseOrder.products" class="bordered-table">
            <ng-template pTemplate="header">
              <tr>
                <th>Sr. No.</th>
                <th>Design No.</th>
                <th>Colour Name</th>
                <th>Gender</th>
                <th>Clothing</th>
                <th>Size</th>
                <th>Rate (₹)</th>
                <th>Quantity</th>
                <th>Total Price (₹)</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-product let-i="rowIndex">
              <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ product.designNumber }}</td>
                <td>{{ product.colourName }}</td>
                <td>{{ product.gender }}</td>
                <td>{{ product.clothing }}</td>
                <td>{{ product.size }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.totalQuantity }}</td>
                <td style="text-align: right;">{{ product.price * product.totalQuantity | number: '1.0-2' }}</td>
              </tr>
            </ng-template>

            <ng-template pTemplate="footer">
              <tr>
                <td colspan="8" style="text-align: right;" class="text-right font-weight-bold">Subtotal (₹):</td>
                <td style="text-align: right;">{{ Totalsub | indianCurrency }}</td>
              </tr>
              <tr>
                <td colspan="8" style="text-align: right;" class="text-right font-weight-bold">
                  Discount (₹ -{{ purchaseOrder.ProductDiscount }}%):
                </td>
                <td style="text-align: right;">{{ discountAmount | indianCurrency }}</td>
              </tr>
              <tr *ngIf="igst > 0">
                <td colspan="8" style="text-align: right;" class="text-right font-weight-bold">IGST (₹ +18%):</td>
                <td style="text-align: right;">{{ igst | indianCurrency }}</td>
              </tr>
              <tr *ngIf="sgst > 0 && cgst > 0">
                <td colspan="8"style="text-align: right;"  class="text-right font-weight-bold">SGST (₹ +9%):</td>
                <td style="text-align: right;">{{ sgst | indianCurrency }}</td>
              </tr>
              <tr *ngIf="sgst > 0 && cgst > 0">
                <td colspan="8" style="text-align: right;" class="text-right font-weight-bold">CGST (₹ +9%):</td>
                <td style="text-align: right;">{{ cgst | indianCurrency }}</td>
              </tr>
              <tr>
                <td colspan="8" style="text-align: right;" class="text-right font-weight-bold">Grand Total (₹):</td>
                <td style="text-align: right;">{{ totalGrandTotal | indianCurrency }}</td>
              </tr>
            </ng-template>
          </p-table>

        <!-- </div> -->
      </section>
    </div>

    <!-- Footer Button -->
    <div class="row">
      <div class="col-12">
        <div class="text-center my-3">  
          <button class="btn btn-success" (click)="addpo()">Generate Purchase Order</button> &nbsp;
          <button class="btn btn-success ms-auto" (click)="printPO()">Download Purchase Order</button>
        </div>
      </div>
    </div>
  </div>
</section>