.registration-form {
    .label-input {
        margin-top: 15px;

        span {
            color: red;
        }
    }
}

.submit-btn {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    // margin: 2rem !important;
    background-color: #f0ad4e;
    color: #fff;
}


// for disbled feilds
input:disabled {
  background-color: #f0f0f0; /* Light gray background */
  color: #666; /* Gray text color */
  border-color: #ddd; /* Light gray border color */
}