<section class="content">
    <div class="content-block">
        <div class="registration-form p-4 mt-4">
            <form [formGroup]="mgfRegistrationForm" *ngIf="!showFlag">
                <div class="d-flex justify-content-between align-items-center mb-2"></div>
                <div class="card p-4 pt-2">
                    <h5 class="mb-0 flex-grow-1">
                        <button class="btn text-start" (click)="navigateFun()">
                            <i class="bi bi-arrow-left-circle h4"></i>
                        </button>
                        <span class="text-center" style="margin-left: 474px;">{{user | titlecase}}'s Profile</span>
                    </h5>
                    <hr class="mt-2">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <label class="label-input">Company/Firm Name :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('companyName')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <label class="label-input">Full Name :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('fullName')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <label class="label-input">KYC Status :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('kycVerified')?.value ? 'Verified' : (mgfRegistrationForm.get('kycVerified')?.value === false ? 'Not Verified' : 'N/A') }}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                            <label class="label-input">Company Establishment Date :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('establishDate')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                            <label class="label-input">Registered On FTH :</label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('registerOnFTH')?.value}}</span>
                        </div>
                        
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                            <label class="label-input">Legal Status of Firm :-</label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('leagalStatusOfFirm')?.value}}</span>
                        </div>
                        
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6  ">
                            <label class="label-input">GSTIN :-</label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('GSTIN')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                            <label class="label-input">PAN :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('pan')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                            <label class="label-input">Primary Mobile Number :-</label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('mobNumber')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6  ">
                            <label class="label-input">Alternative Mobile Number :-</label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('mobNumber2')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                            <label class="label-input">Primary Email :-</label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('email')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                            <label class="label-input">Alternative Email :-</label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('email2')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <label class="label-input">City :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('city')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <label class="label-input">State :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('state')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <label class="label-input">Zip / Pin Code :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('pinCode')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-3 col-md-3 col-sm-3">
                            <label class="label-input">Country :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('country')?.value}}</span>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <label class="label-input">Address :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('address')?.value}}</span>
                        </div>
                    </div>
            
                    <h5 class=" mb-0 mt-4">Social Media</h5>
                    <!-- <hr class="my-2"> -->
                    <div class="row" formGroupName="socialMedia">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                            <label class="label-input">Facebook :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('socialMedia.facebook')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6  ">
                            <label class="label-input">LinkedIn :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('socialMedia.linkedIn')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                            <label class="label-input">Instagram :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('socialMedia.instagram')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6  ">
                            <label class="label-input">Company Website :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('socialMedia.webSite')?.value}}</span>
                        </div>
                    </div>
            
                    <h5 class="mb-0 mt-4">Bank Account Details</h5>
                    <!-- <hr class="my-2"> -->
                    <div class="row" formGroupName="BankDetails">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                            <label class="label-input">Account Number </label>
                            <span class="form-control-static">:- {{mgfRegistrationForm.get('BankDetails.accountNumber')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6  ">
                            <label class="label-input">Account Type :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('BankDetails.accountType')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6  ">
                            <label class="label-input">IFSC Code :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('BankDetails.IFSCcode')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                            <label class="label-input">Bank Name :-</label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('BankDetails.bankName')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6  ">
                            <label class="label-input">Swift Code :- </label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('BankDetails.swiftCode')?.value }}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6  ">
                            <label class="label-input">Branch Name :-</label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('BankDetails.branch')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <label class="label-input">Country :-</label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('BankDetails.country')?.value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6  ">
                            <label class="label-input">City :-</label>
                            <span class="form-control-static">{{mgfRegistrationForm.get('BankDetails.city')?.value}}</span>
                        </div>
                        
                    </div>
                </div>
            </form>
            
            
            <!-- for descount Part -->
            <!-- Discount Section -->
<!-- Discount Section -->
<div class="discount-section">
    <div class="d-flex text-center">
      <h5 class="text-center mb-0 mt-2">Add Discount/Scheme</h5>
      <!-- Optional Edit Button -->
      <button *ngIf="!addDiscountBtnHide" class="btn btn-primary discount-button ms-auto" (click)="editDiscountCategory()">Edit</button>
    </div>
    <hr class="my-2">
  
    <!-- Discount Category Selection and Button -->
    <div class="discount-controls">
      <!-- Discount Category Dropdown -->
      <div class="form-group">
        <label for="discountCategory" class="discount-label">Select Category</label>
        <select class="form-control discount-dropdown" [(ngModel)]="SelectedCategory" [disabled]="isDropdownDisabled">
            <option [ngValue]="null">Select Category</option>
            <!-- If exsitingCategory is available, display it -->
            <!-- <option [ngValue]="null" *ngIf="!exsitingCategory || exsitingCategory == 'No Discounts'" >Select Category</option>
            <option *ngIf="exsitingCategory" [hidden]="editBtn" [ngValue]="exsitingCategory">
                {{ exsitingCategory }}
            </option> -->
          <option *ngFor="let category of wholesalerCategory" [ngValue]="category">
            {{ category.category }}
          </option>
        </select>
      </div>
  
      <!-- Add Discount Button -->
      <button *ngIf="addDiscountBtnHide" class="btn btn-primary discount-button" (click)="addDiscountForWholesaler()">Assign</button>
    </div>
  </div>
  
  
            <!-- for descount Part -->

            <div class="card" *ngIf="showFlag">
                <div class="text-danger text-center fw-bold fs-2">User Didn't Fill His Profile</div>
            </div>
        </div>
    </div>
</section>